         *{  
         margin:0;
         padding:0;
         }
         .formadduser{
         position:relative;
         top:15%;    
         height:70%;
         width:60%;
         margin: auto
         }
         .formadduser ul{
         list-style-type:none;
         margin:0;
         }
         .tab{
         float:left;
         height:60px;
         width:25%;
         padding-top:20px;
         box-sizing:border-box;
         background:#eeeeee;  
         text-align:center;
         cursor:pointer;
         transition:background .4s;
         }
         .tab:first-child{  
         -webkit-border-radius: 5px 0px 0px 0px;
         border-radius: 5px 0px 0px 0px;
         }
         .tab:last-child{  
         -webkit-border-radius: 0px 5px 0px 0px;
         border-radius: 0px 5px 0px 0px;
         }
         .tab:hover{  
         background-color:rgba(0,0,0,.1);
         }
         .activeTab{
         background:#fff;
         }
         .activeTab .icon{
         opacity:1;
         }
         .icon{
         height:24px;
         width:24px;
         opacity:.2;
         }
         .form{
         float:left;
         height:86%;
         width:100%;
         box-sizing:border-box;
         padding:40px;
         }

         .textbox{
         margin: 0px 5%;
         height:50px;
         width:90%;
         border-radius:3px;
         border:rgba(0,0,0,.3) 2px solid;
         box-sizing:border-box;
         padding:10px;
         margin-bottom:10px;
         }

         .textarea{
         margin: 0px 5%;
         height:100px;
         width:90%;
         border-radius:3px;
         border:rgba(0,0,0,.3) 2px solid;
         box-sizing:border-box;
         padding:10px;
         margin-bottom:10px;
         }
         #role{
            margin: 0px 5%;
            width:90%;
            height:50px;
            border:rgba(0,0,0,.3) 2px solid;
            box-sizing:border-box;
            padding:10px;
            margin-bottom:10px;
         }

         #role:focus{
            outline:none;
            border:rgba(24,149,215,1) 2px solid;
            color:rgba(24,149,215,1);
         }
         .textbox:focus{
         outline:none;
         border:rgba(24,149,215,1) 2px solid;
         color:rgba(24,149,215,1);
         }
         .button{
         margin: 0px 5%;
         height:50px;
         width:90%;
         border-radius:3px;
         border:rgba(0,0,0,.3) 0px solid;
         box-sizing:border-box;
         padding:10px;
         margin-bottom:30px;
         background:#1f2b5b;
         color:#FFF;
         font-weight:bold;
         font-size: 12pt;
         transition:background .4s;
         cursor:pointer;
         }
         .button:hover{
         opacity: 0.8;
         }
      